@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Manuka";
  src: url("/fonts/manuka-bold.woff2") format("woff2"),
       url("/fonts/Manuka-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --forest-green: #044110;
  --orange: #FC401D;
  --mint: #D0FDDA;
  --off-white: #FAFAFA;
  --off-black: #1F1F1F;
}

body {
  color: var(--off-black);
  background: var(--off-white);
  font-family: "Manrope", system-ui, sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
